.correct-letter {
  color: green;
  font-weight: bold;
}
.error-letter {
  font-weight: bold;
  color: red;
}
.highlight-word {
  color: deepskyblue;
}

.greyout-word {
  color: grey;
}

.typing-wrong-word {
  border-bottom: 1px solid red;
  padding-bottom: 2px;
}
